header{
  text-align: center
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: beige;
  border-radius: 15px;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: pink;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.card img {
  max-width: 100%;
}

h3{

  text-align: center
}
.card .text {
  padding: 0 20px 20px;
  text-align: center
}
.subtitle{
  font-style: italic;
  font-size: 11px;
}
